.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    width: 50px;
    height:50px;
    .rounded(50px);
    .hide-link-underline;
    color: @black;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1.4em 1.2em;
    display: none;
}
.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}