.btn {
	display: inline-block;
	.font-size;
	margin: @button-margin;
	background: @black-30;
	color: @button-color;
	border: none;
	&:hover {
	background: darken(@black-30, 10%);
	color: @button-color;
	}
}
.btn-default {
	padding: @button-padding-default;
}
.btn-med {
	padding: @button-padding-medium;
}
.btn-lrg {
	padding: @button-padding-large;
}
.btn-full {
	margin: @button-margin;
	padding: @button-padding-default;
	display: block;
	.center-block;
	.text-center;
}

.btn-brand-one {
	background: @brand-color-one;
	&:hover {
		background: darken(@brand-color-one, 10%)
	}
}

.btn-brand-two {
	background: @brand-color-two;
	&:hover {
		background: darken(@brand-color-two, 10%)
	}
}