.image-card {
	max-width: 30em;
	display: block;
	margin: 0 auto;
	border: 1px solid #ccc;
	.rounded;
	
	
}

.card-image {
		display: block;
		max-height: 30em;
		overflow: hidden;
		border-bottom: 1px solid #ccc;
	}





.avatar-card {
	position: relative;
	display: block;
	padding-top: 30px;
	.image-card;
	.avatar {
		position: absolute;
		top: -15%;
		left: 40%;
		display: block;
		height: 80px;
		width: 80px;
		.rounded(50px);
		overflow: hidden;
		border: 1px solid @black-20;
	}
}
.card-title {
	display: block;
	.text-center;
}
.card-content{
	display: block;
	.text-center;
}